@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&family=Catamaran:wght@300&display=swap');

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 100%;
	--color-dark-blue: #2f7fb8e1;
	--color-light-grey: #e0e4e9;
	--color-white: #f7f3f3;
	--color-black-text: #202020;
	--color-grey-text: #383838;
}

*,
*:before,
*:after {
  	margin: 0;
	box-sizing: inherit;
}

body {
	position: relative;
  font-family: Catamaran;
  font-size:1.25rem;

}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


h1{
  font-size: 2.25rem;
}
#welcome-section{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./images/mosaic-757270_1920.jpg) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.welcome-text{
  padding: 1rem 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #5099bd;
  /* height: auto; */
  text-align: center;
  /* margin-top:40vh; */
  color:var(--color-white);
  
}
#welcome-section p{
  padding: 0 1rem;
  
  font-size: 1.5rem;
  
}

.nav-line{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: #0005f0;
  z-index: 100;
}
.nav{
   position: fixed;
  top: 3rem;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  color: white;
  /* hide the menu above the screen by default */
  transform: translateY(-130%);
  transition: transform 0.2s ease;
  opacity: 0.9;
  /* border-bottom-right-radius: 3px; */
}
.showNav {
  transform: translateY(0);
}
.nav-list{
   width: 100%;
  /* height: auto; */
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:0;
}
.nav-link{
  margin:0.5rem;
}
.nav-link a{
  display: block;           
  color: white;
  padding-bottom: 10px;
  margin-top: 1rem;
  border-bottom: 2px solid black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  
  color: var(--color-white);
}
.contact-links{
  display:flex;
    flex-direction: column;
    
}



.contact-links i{
  margin: 0.25rem 1rem;
  padding:0.5rem;
  color:var(--color-white);
  background-color: var(--color-black-text);
  border: 2px solid var(--color-white);
  border-radius: 3px;
  font-size: 1.5rem;
}

.contact-links i:hover{
 
  color:var(--color-black-text);
  background-color: var(--color-white);
  border: 2px solid var(--color-black-text);
  
}


h2{
  padding: 4rem 0 2.5rem;
  font-size: 1.75rem;
  text-align: center;
}

#about{
  display:flex;
  flex-direction: column;
}

.project-container{
  padding: 0.5rem 1rem;
  display:flex;
  flex-direction: column;
  /* align-items: center; */
}
.project{
  /* display: flex; */
  margin: 1rem 0.5rem;
   display: flex;
  flex-direction: column;
  position:relative;
  overflow:hidden;
  
}

@media (min-width:481px){
  .project{
  /* max-width: 22rem; */
  margin: 2rem;
}
}

@media (min-width:700px){
section:not(#welcome-section){
  margin-right: 4rem;
}


  .contact-links{
    position:fixed;
    right:0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.contact-links i{
  margin: 0.25rem 0;
}

  .project-container{
  padding: 0.5rem 1rem;
  display:flex;
  flex-direction: row;
  justify-content:space-evenly ;
  flex-wrap: wrap;

  /* align-items: center; */
}

}
@media (min-width:769px){
  .project{
  max-width: 18rem;
  margin: 2rem 1rem;
}
}


.project-image{
 
  /* min-width: 10rem; */
  /* max-width: 20rem; */
  border-radius: 2px;
  cursor: pointer
}
.project-link{
  display:flex;
  position:absolute;
  top:-100%;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  opacity: 0.8;
  transition: 0.4s;
  border-radius: 2px;
 
  /* z-index: 10; */
}

.project:hover .project-link{
  top:0;
}

.contact-container{
  display:flex;
  justify-content: space-evenly;
}

.arrow{
  /* display:block; */
  width:150px;
  height:162px;
  background-image: url(./images/arrow-2079328_640.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: aqua; */
  /* z-index: 1000; */
}