@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");

/* || GENERAL STYLES */

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 100%;
	--color-dark-blue: #04294d;
	--color-light-blue: #255674;
	--color-white: #f7f3f3;
	--color-black-text: #202020;
}

*,
*:before,
*:after {
	margin: 0;
	box-sizing: inherit;
}

body {
	position: relative;
	font-family: "Baloo Tamma 2";
	font-size: 1.25rem;
}

section {
	padding: 0.5rem 1.5rem 2rem;
}

h1 {
	font-weight: 400;
	font-size: 2.25rem;
}

h2 {
	padding-top: 4rem;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
}

.line {
	margin: 0 auto 2.5rem;
	width: 70px;
	height: 2px;
	border: none;
	background-color: var(--color-black-text);
}

/* || UTILITIES */

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.beige-bg {
	background-color: #f5f5e9;
}

.blue-bg {
	background-color: var(--color-light-blue);
}

/* || NAVIGTION */

.nav-line {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 3rem;
	display: flex;
	background-color: var(--color-light-blue);
	-webkit-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
	box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
	z-index: 100;
}

#ham {
	margin: 0.25rem;
	padding: 0.25rem;
	background-color: var(--color-light-blue);
	font-size: 1.5rem;
	color: var(--color-white);
	cursor: pointer;
	outline: none;
	border: none;
}

#ham:focus {
	outline: 1px solid var(--color-white);
}

.nav {
	position: fixed;
	top: 3rem;
	width: 100vw;
	height: fit-content;
	color: var(--color-white);
	background: var(--color-dark-blue);
	opacity: 0.9;
	transform: translateY(-130%);
	transition: transform 0.2s ease;
	z-index: 99;
}

.showNav {
	transform: translateY(0);
}

.nav-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0 0.75rem 0;
	list-style: none;
}

.nav-link a {
	display: block;
	margin-top: 1rem;
	font-size: 1.25rem;
	color: var(--color-white);
	text-decoration: none;
}

.nav-link a:hover {
	color: #90becc;
}

.nav-link a:focus {
	outline: 2px solid var(--color-white);
	color: #90becc;
}

.nav-link a:active {
	outline: none;
}

/* || WELCOME SECTION */

#welcome-section {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(./images/mosaic-757270.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.welcome-text {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem 0;
	width: 100%;
	text-align: center;
	color: var(--color-white);
	background-color: var(--color-light-blue);
	transform: translate(-50%, -50%);
}

#welcome-section p {
	padding: 0 1rem;
	font-size: 1.5rem;
}

/* || ABOUT SECTION */

#about {
	text-align: justify;
}

#about p:first-of-type {
	padding-bottom: 1rem;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.skills span {
	margin: 0.25rem;
	padding: 0.25rem 1rem;
	border-radius: 5px;
	background-color: var(--color-light-blue);
	color: var(--color-white);
}

/* || PROJECTS SECTION */

#projects h2 {
	color: var(--color-white);
}

#projects .line {
	background-color: var(--color-white);
}

.project-container {
	display: flex;
	padding: 0.5rem 0;
	flex-direction: column;
}

#projects p {
	padding: 0.5rem;
	color: var(--color-white);
	text-align: center;
	line-height: 1;
}
.project-tile {
	position: relative;
	display: flex;
	flex-direction: column;
	/* border: 1px solid var(--color-white); */
	margin: 0 0.25rem 1rem;
	overflow: hidden;
}

.project-image {
	width: 100%;
	height: auto;
	border-radius: 2px;
	cursor: pointer;
}

.project-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	text-align: center;
	font-size: 1.5rem;
	color: var(--color-white);
	text-decoration: none;
	border-radius: 2px;
	opacity: 0.9;
	background-color: var(--color-dark-blue);
	transition: 0.3s;
}

.project-tile:hover .project-link,
.project-link:focus {
	top: 0;
}

/* || CONTACT SECTION */

#contact p {
	text-align: center;
}

.contact-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.arrow {
	width: 12rem;
	height: 12rem;
	background-image: url(./images/arrow-2079328_640.jpeg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.contact-links {
	display: flex;
	flex-direction: column;
}

.contact-links i {
	margin: 0.25rem 1rem;
	padding: 0.5rem;
	font-size: 1.5rem;
	color: var(--color-white);
	border-radius: 3px;
	border: 2px solid var(--color-white);
	background-color: var(--color-black-text);
}

.contact-links i:hover {
	border: 2px solid var(--color-black-text);
	color: var(--color-black-text);
	background-color: var(--color-white);
}

.link:focus-visible {
	outline: 3px solid rgb(197, 124, 247);
}

/* || FOOTER */

footer {
	padding: 1rem 0;
	background-color: var(--color-light-blue);
}

footer p {
	color: var(--color-white);
	font-size: 1rem;
	text-align: center;
}

/* || MEDIA */

@media (min-width: 30em) {
	/* || GENERAL STYLES */

	section {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	/* || PROJECTS SECTION */

	.project-tile {
		margin: 0 2rem 2rem;
	}
}

@media (min-width: 43.75em) {
	/* || UTILITIES */

	.margin {
		margin-right: 4rem;
	}

	/* || NAVIAGTION */

	.nav-line {
		display: none;
	}

	.nav {
		transform: translateY(0%);
		top: 0rem;
		left: 0rem;
		width: 100%;
		background-color: var(--color-light-blue);
		opacity: 1;
		-webkit-box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
		box-shadow: 0px 4px 10px -3px rgba(0, 0, 0, 0.54);
		z-index: 101;
	}

	.nav-list {
		flex-direction: row;
		justify-content: flex-end;
		padding: 0.5rem;
	}

	.nav-link a {
		margin: 0 1rem;
	}

	/* || ABOUT SECTION */

	#about {
		padding: 0.5rem 5rem 2rem;
	}

	.skills {
		justify-content: flex-start;
	}

	/* || PROJECTS SECTION */

	.project-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding: 0.5rem 1rem;
	}

	/* || CONTACT SECTION */

	.flex-contact {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5rem 0 2rem;
	}

	.contact-text {
		padding-right: 5rem;
	}

	.contact-text h2 {
		padding: 0;
	}

	.contact-links {
		position: fixed;
		top: 50%;
		right: 0;
		transform: translate(-50%, -50%);
	}

	.contact-links i {
		margin: 0.25rem 1rem;
	}
}

@media (min-width: 48em) {
	/* || PROJECTS SECTION */

	.project-tile {
		max-width: 22rem;
		margin: 0 1rem 2rem;
	}
}

@media (min-width: 43.75em) and (min-height: 31.25em) {
	/* || CONTACT SECTION */

	.arrow {
		transform: rotate(-15deg);
	}
}

@media (min-width: 43.75em) and (min-height: 43.75em) {
	/* || CONTACT SECTION */

	.contact-links {
		top: calc(100vh - 15rem);
	}

	.arrow {
		transform: rotate(0deg);
	}
}
